<div class="row">
    <div class="col-sm-12">
        <!-- Dynamic Table Full -->
        <div class="block">
            <div class="block-header">
                <form class="form-inline">
                    <div class="form-group">
                        <a ng-hide="isIFrame()" class="btn btn-primary" href="#!/add-device">Add phone</a>
                    </div>
                    <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b pull-right">
                        <input ng-model="vm.searchWord" ng-model-options="{debounce: 500}" class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search..">
                        <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                    </div>
                </form>
            </div>

            <div class="block-content">
                <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                <table class="table table-bordered table-striped js-dataTable-full  bg-gray-light" cg-busy="vm.isLoading">
                    <thead>
                        <tr>
                            <th>Driver Name</th>
                            <th>Phone Number</th>
                            <!--<th>Activation Code</th>-->
                            <th>Last Activity Date</th>
                            <th>Install Date</th>
                            <th class="text-center">Phone</th>
                            <th class="text-center">Version</th>
                            <th class="text-center">Options</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="phone in vm.phones" ng-hide="phone.disabled">
                            <td>{{phone.FirstName}} {{phone.LastName}}</td>
                            <td>{{phone.PhoneNumber}}</td>
                            <!--<td>{{phone.PhoneId}}</td>-->
                            <td>{{phone.LastActivityDate}}</td>
                            <td>{{phone.InstallDate}}</td>
                            <td class="text-center">{{phone.PhoneOs}}</td>
                            <td class="text-center">{{phone.Version}}</td>

                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" ng-click="vm.openEditor(phone)" title="Edit Client"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" ng-click="vm.deleteDevice(phone.PhoneId, phone.PhoneNumber)" title="Remove Client"><i class="fa fa-times"></i></button>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Dynamic Table Full -->
    </div>
</div>
