
<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Step 1</h3>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
        <label for="validation-email">Please answer the following questions:</label><br>
        <span>Enter your email that was used during the purchase and your order number</span>
        <div class="form-material form-material-primary">
            <input class="form-control" ng-model="vm.firstStep.email" type="email" id="wizard-email" name="wizard-email" placeholder="Please enter your email">
        </div>

        <div class="form-material form-material-primary">
            <input class="form-control"
                    ng-model="vm.firstStep.orderNumber"
                    ng-hide="vm.stepsResources.isHavePromotionCode"
                    type="text" id="wizard-order" 
                    name="wizard-order" 
                    placeholder="Please enter your order">
        </div>
    </div>
</div>

<br>

<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-material form-material-primary">
            <label for="validation-skills">Do you have promotion code?</label>
            <select ng-model="vm.stepsResources.isHavePromotionCode"
                    ng-init="vm.stepsResources.isHavePromotionCode = vm.stepsResources.yesNoQuestion[1].value"
                    ng-options="a.value as a.text for a in vm.stepsResources.yesNoQuestion"
                    class="form-control" 
                    id="wizard-isHavePromotionCode"
                    name="wizard-isHavePromotionCode" 
                    size="1"></select>
        </div>
 
    </div>
</div>

<br>

<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-material form-material-primary">
            <select ng-model="vm.stepsResources.isPartOfSafetyProgram"
                    ng-init="vm.stepsResources.isPartOfSafetyProgram = vm.stepsResources.yesNoQuestion[1].value"
                    ng-options="a.value as a.text for a in vm.stepsResources.yesNoQuestion"
                    class="form-control"
                    id="wizard-isPartOfSafetyProgram"
                    name="wizard-isPartOfSafetyProgram" 
                    size="1"></select>

            <label for="validation-skills">Are you part of any Court mandated County Distracted Driving Safety Program?</label>
        </div>
        <div class="form-material form-material-primary" ng-hide="!vm.stepsResources.isPartOfSafetyProgram">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-material form-material-primary">
                    <select ng-options="state as state.StateName for state in vm.firstStep.availableStates"
                            ng-model="vm.firstStep.selectedState" 
                            ng-change="vm.firstStep.changeState()"></select>

                    <select ng-options="countie as countie.Name for countie in vm.firstStep.availableCounties"
                            ng-model="vm.firstStep.selectedCounty"></select>

                </div>

            </div>
        </div>
    </div>


</div>

