<div class="row" ng-init="vm.init()">
    <!-- Validation Wizard (.js-wizard-validation class is initialized in js/pages/base_forms_wizard.js) -->
    <!-- For more examples you can check out http://vadimg.com/twitter-bootstrap-wizard-example/ -->
    <div id="register-wizard" class="block" cg-busy="vm.proccess">

        <!-- Step Tabs -->
        <ul class="nav nav-tabs nav-tabs-alt nav-justified">
            <li class="active">
                <a class="inactive" href="#validation-step1" ng-click="$event.preventDefault();" data-toggle="tab">Step 1</a>
            </li>
            <li>
                <a class="inactive" href="#validation-step2" ng-click="$event.preventDefault();" data-toggle="tab">Step 2</a>
            </li>
            <li>
                <a class="inactive" href="#validation-step3" ng-click="$event.preventDefault();" data-toggle="tab" ng-hide="vm.step1.isHavePromotionCode && !vm.step1.isPartOfSafetyProgram">Step 3</a>
            </li>
        </ul>
        <!-- END Step Tabs -->
        <!-- Form -->
        <!-- jQuery Validation (.js-form2 class is initialized in js/pages/base_forms_wizard.js) -->
        <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
        <form class="js-form2 form-horizontal">
            <!-- Steps Content -->
            <div class="block-content tab-content">
                <!-- Step 1 -->
                <div class="tab-pane fade fade-right in push-30-t push-50 active" id="validation-step1">
                    <ng-include src="'/app/modules/signup-wizard/partials/step1.html'"></ng-include>
                </div>
                <!-- END Step 1 -->
                <!-- Step 2 -->
                <div class="tab-pane fade fade-right push-30-t push-50" id="validation-step2">
                    <ng-include src="'/app/modules/signup-wizard/partials/step2.html'"></ng-include>
                </div>
                <!-- END Step 2 -->
                <!-- Step 3 -->
                <div class="tab-pane fade fade-right push-30-t push-50" id="validation-step3" ng-hide="vm.step1.isHavePromotionCode && !vm.step1.isPartOfSafetyProgram">
                    <ng-include src="'/app/modules/signup-wizard/partials/step3.html'"></ng-include>
                </div>
                <!-- END Step 3 -->
            </div>
            <!-- END Steps Content -->
            <!-- Steps Navigation -->
            <div class="block-content block-content-mini block-content-full border-t">
                <div class="row">
                    <div class="col-xs-6">
                        <button class="wizard-prev btn btn-warning" type="button" ng-click="vm.goBack()">
                            <i class="fa fa-arrow-circle-o-left"></i> Previous
                        </button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="wizard-next btn btn-success" type="button" ng-click="vm.goForward($event)">
                            Next <i class="fa fa-arrow-circle-o-right"></i>
                        </button>
                        <button class="wizard-finish btn btn-primary" type="submit"><i class="fa fa-check-circle-o"></i> Submit</button>
                    </div>
                </div>
            </div>
            <!-- END Steps Navigation -->
        </form>
        <!-- END Form -->
    </div>
    <!-- END Validation Wizard Wizard -->
</div>

<script>
    (function ($) {

        jQuery('#register-wizard').bootstrapWizard({
            'previousSelector': '.wizard-prev',
            'nextSelector': '.wizard-next',
            'finishSelector': '.wizard-finish',
            'onTabShow': function ($tab, $navigation, $index) {
                var $total = $navigation.find('li').length;
                var $current = $index + 1;

                // Get vital wizard elements
                var $wizard = $navigation.parents('.block');
                var $progress = $wizard.find('.wizard-progress > .progress-bar');
                var $btnPrev = $wizard.find('.wizard-prev');
                var $btnNext = $wizard.find('.wizard-next');
                var $btnFinish = $wizard.find('.wizard-finish');

                if ($index == 0) {
                    $btnPrev.attr('disabled', 'disabled');
                }
                else {
                    $btnPrev.removeAttr('disabled');
                }

                // If it's the last tab then hide the last button and show the finish instead
                if ($current >= $total) {
                    $btnNext.hide();
                    $btnFinish.show();
                } else {
                    $btnNext.show();
                    $btnFinish.hide();
                }
            },
            'onTabClick': function (tab, navigation, index) {
                return false;
            }
        });

    })(jQuery)
</script>