<div class="row">
    <div class="col-sm-12">
        <!-- Dynamic Table Full -->
        <div class="block">
            <div class="block-header">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 push-5-t">Violation types</label>
                        <div class="col-md-10">
                            <div class="row items-push">
                                <div class="col-xs-6 col-sm-3" for="is-speed-alerts">
                                    <label class="css-input css-checkbox css-checkbox-primary css-checkbox-rounded">
                                        <input type="checkbox" id="is-speed-alerts" name="is-speed-alerts" ng-model="vm.searchConfig.IsSpeedAlerts"> <span></span> Speed alerts
                                    </label>
                                </div>
                                <div class="col-xs-6 col-sm-3" for="is-emergency-calls">
                                    <label class="css-input css-checkbox css-checkbox-primary css-checkbox-rounded">
                                        <input type="checkbox" id="is-emergency-calls" name="is-emergency-calls" ng-model="vm.searchConfig.IsEmergencyCalls"> <span></span> Emergency calls
                                    </label>
                                </div>
                                <div class="col-xs-6 col-sm-3" for="is-connection-violations ">
                                    <label class="css-input css-checkbox css-checkbox-primary css-checkbox-rounded">
                                        <input type="checkbox" id="is-connection-violations" name="is-connection-violations" ng-model="vm.searchConfig.IsConnectionViolations"> <span></span> Connection Violations
                                    </label>
                                </div>
                                <div class="col-xs-6 col-sm-3" for="is-call-violation-alerts">
                                    <label class="css-input css-checkbox css-checkbox-primary css-checkbox-rounded">
                                        <input type="checkbox" id="is-call-violation-alerts" name="is-call-violation-alerts" ng-model="vm.searchConfig.IsCallViolationAlerts"> <span></span> Call Violation alerts
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <form class="form-inline">
                    <div class="form-group col-md-12  push-10-t">
                        <label class="col-md-2 control-label  push-5-t">Date Range</label>
                        <div class="col-md-5">
                            <div class="input-daterange input-group col-xs-9" data-date-format="mm/dd/yyyy">
                                <input date-picker ng-model="vm.searchConfig.DateStart" class="form-control" type="text" id="date-start" name="date-start" placeholder="From">
                                <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                                <input date-picker ng-model="vm.searchConfig.DateEnd" class="form-control" type="text" id="date-end" name="date-end" placeholder="To">
                            </div>

                            <button class="btn btn-primary pull-right " ng-click="vm.searchAlerts()" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="block-content">

                <table class="table table-bordered table-striped js-dataTable-full  bg-gray-light" cg-busy="vm.isLoading">
                    <thead>
                        <tr>
                            <th>Driver Name</th>
                            <th>Date</th>
                            <th>Violation Type</th>
                            <th>Violation Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="alert in vm.alerts">
                            <td>{{alert.User}}</td>
                            <td>{{alert.Date}}</td>
                            <td>{{alert.ViolationType}}</td>
                            <td>{{alert.ViolationDescription}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Dynamic Table Full -->
    </div>
</div>