<h2 class="content-heading">Alerts</h2>

<div class="row">
    <div class="col-sm-12">
        <!-- Dynamic Table Full -->
        <div class="block">
            <div class="block-header">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="col-md-4">Violation types</label>
                        <div class="col-md-8">
                            <label class="checkbox-inline" for="example-inline-checkbox1">
                                <input type="checkbox" id="example-inline-checkbox1" name="example-inline-checkbox1" ng-model="vm.searchConfig.IsSpeedAlerts"> Speed alerts
                            </label>
                            <label class="checkbox-inline" for="example-inline-checkbox2">
                                <input type="checkbox" id="example-inline-checkbox2" name="example-inline-checkbox2" ng-model="vm.searchConfig.IsEmergencyCalls"> Emergency calls
                            </label>
                            <label class="checkbox-inline" for="example-inline-checkbox3">
                                <input type="checkbox" id="example-inline-checkbox3" name="example-inline-checkbox3" ng-model="vm.searchConfig.IsConnectionViolations"> Connection Violations
                            </label>
                            <label class="checkbox-inline" for="example-inline-checkbox4">
                                <input type="checkbox" id="example-inline-checkbox4" name="example-inline-checkbox4" ng-model="vm.searchConfig.IsCallViolationAlerts"> Call Violation alerts
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-12">
                            <select class="form-control" ng-model="vm.selectedPhone"
                                    ng-init="vm.selectedPhone = vm.phones[0]"
                                    ng-options="phone.PhoneNumber for phone in vm.phones"></select>
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-daterange1">Date Range</label>
                        <div class="col-md-8">
                            <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                <input date-picker ng-model="vm.searchConfig.DateStart" class="form-control" type="text" id="example-daterange1" name="example-daterange1" placeholder="From">
                                <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                                <input date-picker ng-model="vm.searchConfig.DateEnd" class="form-control" type="text" id="example-daterange2" name="example-daterange2" placeholder="To">
                            </div>
                        </div>
                    </div>
                    <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b pull-right">
                        <input class="form-control" type="text" id="base-material-text" name="base-material-text" ng-model="vm.searchWord" placeholder="Search..">
                        <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                    </div>
                </form>
            </div>

            <div class="block-content">
                <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                <table class="table table-bordered table-striped js-dataTable-full">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Date</th>
                            <th>Violation Type</th>
                            <th>Violation Description</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="alert in vm.alerts">
                        <tr>
                            <td>{{alert.User}}</td>
                            <td>{{alert.Date}}</td>
                            <td>{{alert.ViolationType}}</td>
                            <td>{{alert.ViolationDescription}}</td>

                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove Client"><i class="fa fa-times"></i></button>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Dynamic Table Full -->
    </div>
</div>