<!--<h2 class="content-heading">Settings</h2>-->
<div class="row">
    <div class="col-xs-12">
        <div class="block">
            
                <form class="form-inline">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="vm.saveSettings()" type="submit">Save</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="vm.saveAllSettings()" type="submit">Save All</button>
                    </div>
                   
                </form>
       
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <!-- Speed Alerts Widget -->
        <div class="block block-bordered">
            <div class="block-header bg-gray-light">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="modal" data-target="#help-modal" ng-click="vm.showModal('speed-aletr-help')">Help</button>
                    </li>
                </ul>
                <h3 class="block-title">Alert Features</h3>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Interval Between Alerts</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input class="form-control" type="number" min="0" step="1" id="interval-beetwen-alerts" name="interval-beetwen-alerts" ng-model="vm.setting.AlertSpeedFrame">
                            <span class="input-group-addon">minutes</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Send Speed Alerts</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="enable-speed-alerts" name="enable-speed-alerts" ng-model="vm.setting.EnableSpeedAlerts"><span></span> Enable Speed Alerts
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="radio">
                            <label class="css-input css-radio css-radio-primary push-10-r">
                                <input type="radio" ng-model="vm.setting.AlertSpeed" name="speed" ng-value="60"><span></span> 60MPH
                            </label>
                        </div>
                        <div class="radio">
                            <label class="css-input css-radio css-radio-primary push-10-r">
                                <input type="radio" ng-model="vm.setting.AlertSpeed" name="speed" ng-value="65"><span></span> 65MPH
                            </label>
                        </div>
                        <div class="radio">
                            <label class="css-input css-radio css-radio-primary push-10-r">
                                <input type="radio" ng-model="vm.setting.AlertSpeed" name="speed" ng-value="75"><span></span> 75MPH
                            </label>
                        </div>
                        <div class="radio">
                            <label class="css-input css-radio css-radio-primary push-10-r">
                                <input type="radio" ng-model="vm.setting.AlertSpeed" name="speed" ng-value="80"><span></span> 80MPH
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Allow Hands-Free Bluetooth</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="make-calls" name="make-calls" ng-model="vm.setting.AllowHeadset"><span></span> Recieve/Make Calls
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <!-- END Speed Alerts Widget -->
    </div>
    <div class="col-lg-4">
        <!-- Preferences Widget -->
        <div class="block block-bordered">
            <div class="block-header bg-gray-light">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="modal" data-target="#help-modal" ng-click="vm.showModal('notifications-aletr-help')">Help</button>
                    </li>
                </ul>
                <h3 class="block-title">Overriding Preferences</h3>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Notifications</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.GpsNotify" id="notify-location" name="notify-location"><span></span> Notify if Location Services are disabled
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.BluetoothNotify" id="notify-bluetooth" name="notify-bluetooth"><span></span> Notify if Bluetooth is off
                        </label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.UninstalledNotify" id="notify-uninstalled" name="notify-uninstalled"><span></span> Notify if Uninstalled
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Auto-Reply</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox"  id="enable-auto-reply" name="enable-auto-reply"><span></span> Enable auto-reply
                        </label>
                    </div>
                </div>
                <div class="form-group  clearfix">
                    <span class="col-xs-12" for="contact1-msg">Message</span>
                    <div class="col-xs-12">
                        <textarea class="form-control" id="setting-msg" name="setting-msg" rows="1" placeholder="Enter your message.."></textarea>
                           </div>
                </div>
            </div>
        </div>
        <div class="block block-bordered">
            <div class="block-header bg-gray-light">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="modal" data-target="#help-modal" ng-click="vm.showModal('location-alert-help')">Help</button>
                    </li>
                </ul>
                <h3 class="block-title">Location Preferences</h3>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Location</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.EnableReportMovements" id="report-vehicle-activity" name="report-vehicle-activity"><span></span> Report vehicle activity
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.EnableReportCoordinates" id="include-coordinates" name="include-coordinates"><span></span> Include coordinates
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Interval between location moves</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input class="form-control" ng-model="vm.setting.EnableReportTrackFrame" ype="number" min="0" step="1" id="interval-beetwen-locations" name="interval-beetwen-locations">
                            <span class="input-group-addon">minutes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Preferences Widget -->
    </div>
    <div class="col-lg-4">
        <!-- Allowed Phones Widget -->
        <div class="block block-bordered">
            <div class="block-header bg-gray-light">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="modal" data-target="#help-modal" ng-click="vm.showModal('phones-alert-help')" data-original-title="Help">Help</button>
                    </li>
                </ul>
                <h3 class="block-title">Alert and Allowed Phones</h3>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Alerts will be sent</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="enable-administrator" ng-model="vm.setting.EnableAdminTextAlerts" name="enable-administrator"><span></span> Enable Text Alerts to Administrator
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material form-material-primary">
                            <!--<label for="profile-phone">Phone</label>-->
                            <input class="form-control input-lg" type="text" id="alert-phone" ng-model="vm.setting.AdminMobilePhoneNumber" name="alert-phone" placeholder="Enter Administrators Phone Number">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="enable-email-administrator" ng-model="vm.setting.EnableAdminEmailAlerts" name="enable-email-administrator"><span></span>Enable Email Alerts to Administrator
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material form-material-primary">
                            <!--<label for="profile-email">Email</label>-->
                            <input class="form-control input-lg" type="email" id="settings-email" ng-model="vm.setting.AdminEmailAddress" name="settings-email" placeholder="Enter Administrators Email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Allowed Emergency Contacts</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="emergyncy-phone" ng-model="vm.setting.AllowedPhone1" name="emergyncy-phone" disabled>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="allowed-phone-one" ng-model="vm.setting.AllowedPhone3" name="allowed-phone-one" placeholder="Enter Phone">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="owner-name-one" ng-model="vm.setting.AllowedPhoneOwner3" name="owner-name-one" placeholder="Name of Owner">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-6">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="allowed-phone-two" ng-model="vm.setting.AllowedPhone4" name="allowed-phone-two" placeholder="Enter Phone">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="owner-name-two" ng-model="vm.setting.AllowedPhoneOwner4" name="owner-name-two" placeholder="Name of Owner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Allowed Phones Widget -->
    </div>
</div>

<script type="text/html" id="speed-aletr-help">
    <ol>
        <li>
            <p>Interval Between Alerts</p>
            Instead of receiving alerts in real-time, you can select to receive alerts (if any) based upon how often you wish to be informed of them.
            For example, if you enter 60 minute intervals, you will receive text and or email alerts, if you enabled either or both, every 60 minutes.
            You select the alert frequency.
        </li>
        <li>
            <p>Speed Alerts</p>
            If you want to know if your child or driver exceeds certain speeds, you can select a certain speed. If you select 70 mph, you will be alerted
            every time the driver exceed 70 mph. If you select a 10 minute interval between alerts, per the interval between alerts section and the driver
            exceeds the speed you set, you will receive the highest speed they reached over that 10 minute interval.
        </li>
        <li>
            <p>Allow Hands-Free Bluetooth</p>
            If you allow your child or driver to make and receive calls via the vehicle’s hands free Bluetooth or another hands-free BT device, just check off the
            box to enable this feature. Important Note: to use a hands free Bluetooth device, the driver or administrator has to pair that device with the phone’s
            Bluetooth. To do this, go to the phone’s Settings icon&gt;Bluetooth and you should see the vehicle’s built-in hands free Bluetooth. If you’re using another
            hands free device, that device needs to be in the vehicle, connected, and you should know the sync instructions for that device.

        </li>
    </ol>
</script>

<script type="text/html" id="notifications-aletr-help">
    <ol>
        <li>
            <p>Overriding Preferences</p>
            The 4 check boxes, especially Bluetooth, Dongle or Trigger pulled out and Uninstalled need to be checked off. If they are not checked off,
            the driver will be able to get around the system. If they are checked off and the driver somehow shuts off Bluetooth, you will be notified
            via an alert. In addition, the driver’s phone will receive constant alerts on every screen they go to annoy and interrupt their use of the phone.
        </li>
        <li>
            <p>Auto Reply</p>
            The message in this box will be sent to all individuals that text your driver, letting them know that they are driving and will get in touch
            with them when they reach their destination.
        </li>
    </ol>
</script>

<script type="text/html" id="location-alert-help">
    <ol>
        <li>
            If you wish to see where your vehicle has traveled during any given day, check off both boxes.
        </li>
        <li>
            If you just want to know if your vehicle is in use, but not see the location, check off "report vehicle movements" only.
        </li>
        <li>
            Lastly, insert the number of minutes you wish between notification logging in your back end.
        </li>
        <li>
            Note: We recommend a setting between 10-30 minutes or higher, especially when "include coordinates" is checked, as this setting utilizes Location Services.
        </li>
    </ol>
</script>

<script type="text/html" id="phones-alert-help">
    <ol>
        <li>
            <p>Alert and Allowed Phones</p>
            <p>
            </p><ol style="list-style-type: circle">
                <li>Enabled Text Alerts</li>
                <li>Enable email Alerts</li>
            </ol>
            <p></p>
            Your dashboard section has an Alerts tab where you will find all alerts for a specific driver being monitored.
            You can view alerts by driver, type of alert and over a specific date range. If you wish to view these alerts in
            real-time, simply check off the appropriate box and enter your cell phone number and or your email address and a copy
            will be sent there as well. Please note that having copies sent to your phone via text messages and email could be annoying
            because the alerts are being sent in real-time. We recommend enabling Text and or Email alerts if you will not have access to your
            dashboard for more than 24 hours or you have someone that needs to be monitored closely.
        </li>
        <li>
            <p>Allowed Phones</p>
            DriveAlertNow provides the driver with access to call up to 3 phone numbers in case of an emergency, one being 911,  where the driver
            is unable to pull over to the side of the road. Though this feature allows these calls, an alert will be sent to the dashboard even when
            an emergency number is called while the vehicle is moving.
        </li>
    </ol>
</script>

<div class="modal" id="help-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Help</h3>
                </div>
                <div class="block-content">
                    <p ng-bind-html="vm.modalContent"></p>
                 </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>