<h2 class="content-heading">Settings</h2>
<div class="row">
    <div class="col-xs-12">
        <div class="block">
            <div class="block-content block-content-full block-content-narrow">
                <form class="form-inline" action="base_forms_elements.html" method="post" onsubmit="return false;">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="vm.saveSettings()" type="submit">Save</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="vm.saveAllSettings()" type="submit">Save All</button>
                    </div>
                    <div class="form-group pull-right">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary">
                                <select class="form-control" ng-model="vm.activePhone"
                                        ng-init="vm.activePhone = vm.phones[0]"
                                        ng-options="phone.PhoneNumber for phone in vm.phones"></select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <!-- Speed Alerts Widget -->
        <div class="block block-bordered">
            <div class="block-header bg-gray-light">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="help_toggle">Help</button>
                    </li>
                </ul>
                <h3 class="block-title">Alert Features</h3>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Interval Between Alerts</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input class="form-control" type="number" min="0" step="1" id="interval-beetwen-alerts" name="interval-beetwen-alerts" ng-model="vm.setting.AlertSpeedFrame">
                            <span class="input-group-addon">minutes</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Send Speed Alerts</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="enable-speed-alerts" name="enable-speed-alerts" ng-model="vm.setting.EnableSpeedAlerts"><span></span> Enable Speed Alerts
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="radio">
                            <label class="css-input css-radio css-radio-primary push-10-r">
                                <input type="radio" ng-model="vm.setting.AlertSpeed" name="speed" ng-value="60"><span></span> 60MPH
                            </label>
                        </div>
                        <div class="radio">
                            <label class="css-input css-radio css-radio-primary push-10-r">
                                <input type="radio" ng-model="vm.setting.AlertSpeed" name="speed" ng-value="65"><span></span> 65MPH
                            </label>
                        </div>
                        <div class="radio">
                            <label class="css-input css-radio css-radio-primary push-10-r">
                                <input type="radio" ng-model="vm.setting.AlertSpeed" name="speed" ng-value="75"><span></span> 75MPH
                            </label>
                        </div>
                        <div class="radio">
                            <label class="css-input css-radio css-radio-primary push-10-r">
                                <input type="radio" ng-model="vm.setting.AlertSpeed" name="speed" ng-value="80"><span></span> 80MPH
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Allow Hands-Free Bluetooth</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="make-calls" name="make-calls" ng-model="vm.setting.AllowHeadset"><span></span> Recieve/Make Calls
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <!-- END Speed Alerts Widget -->
    </div>
    <div class="col-lg-4">
        <!-- Preferences Widget -->
        <div class="block block-bordered">
            <div class="block-header bg-gray-light">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="help_toggle">Help</button>
                    </li>
                </ul>
                <h3 class="block-title">Overriding Preferences</h3>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Notifications</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.GpsNotify" id="notify-location" name="notify-location"><span></span> Notify if Location Services are disabled
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.BluetoothNotify" id="notify-bluetooth" name="notify-bluetooth"><span></span> Notify if Bluetooth is off
                        </label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.UninstalledNotify" id="notify-uninstalled" name="notify-uninstalled"><span></span> Notify if Uninstalled
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block-bordered">
            <div class="block-header bg-gray-light">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="help_toggle">Help</button>
                    </li>
                </ul>
                <h3 class="block-title">Location Preferences</h3>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Location</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.EnableReportMovements" id="report-vehicle-activity" name="report-vehicle-activity"><span></span> Report vehicle activity
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" ng-model="vm.setting.EnableReportCoordinates" id="include-coordinates" name="include-coordinates"><span></span> Include coordinates
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Interval between location moves</label>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input class="form-control" ng-model="vm.setting.EnableReportTrackFrame" ype="number" min="0" step="1" id="interval-beetwen-locations" name="interval-beetwen-locations">
                            <span class="input-group-addon">minutes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Preferences Widget -->
    </div>
    <div class="col-lg-4">
        <!-- Allowed Phones Widget -->
        <div class="block block-bordered">
            <div class="block-header bg-gray-light">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="help_toggle">Help</button>
                    </li>
                </ul>
                <h3 class="block-title">Alert and Allowed Phones</h3>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Alerts will be sent</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="enable-administrator" ng-model="vm.setting.EnableAdminTextAlerts" name="enable-administrator"><span></span> Enable Text Alerts to Administrator
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material form-material-primary">
                            <label for="profile-phone">Phone</label>
                            <input class="form-control input-lg" type="text" id="alert-phone" ng-model="vm.setting.AdminMobilePhoneNumber" name="alert-phone" placeholder="Enter your Phone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="css-input switch switch-sm switch-primary">
                            <input type="checkbox" id="enable-email-administrator"  ng-model="vm.setting.EnableAdminEmailAlerts" name="enable-email-administrator"><span></span>Enable Email Alerts to Administrator
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material form-material-primary">
                            <label for="profile-email">Email</label>
                            <input class="form-control input-lg" type="email" id="settings-email"  ng-model="vm.setting.AdminEmailAddress" name="settings-email" placeholder="Enter your email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Allowed Emergency Contacts</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="emergyncy-phone"  ng-model="vm.setting.AllowedPhone1" name="emergyncy-phone" disabled>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="allowed-phone-one" ng-model="vm.setting.AllowedPhone3" name="allowed-phone-one" placeholder="Enter Phone 3">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="owner-name-one" ng-model="vm.setting.AllowedPhoneOwner3" name="owner-name-one" placeholder="Owner Name">
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-6">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="allowed-phone-two" ng-model="vm.setting.AllowedPhone4" name="allowed-phone-two" placeholder="Enter Phone 4">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-material form-material-primary">
                            <input class="form-control input-lg" type="text" id="owner-name-two" ng-model="vm.setting.AllowedPhoneOwner4" name="owner-name-two" placeholder="Owner Name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Allowed Phones Widget -->
    </div>
</div>
