<div class="block">

    <!-- Header with filter -->
    <div class="block-header">
        <form class="form-inline">
            <div class="form-group col-md-12 push-10-t">

                <label class="col-md-2 control-label push-5-t" for="date-start">Date Range</label>
                <div class="col-md-8">
                    <div class="input-daterange input-group col-xs-5" data-date-format="mm/dd/yyyy">
                        <input date-picker="" class="form-control ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse" type="text" id="date-start"
                               ng-model="vm.filter.fromDate" name="date-start" placeholder="From">
                        <span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
                        <input date-picker="" class="form-control ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse" type="text" id="date-end"
                               ng-model="vm.filter.toDate" name="date-end" placeholder="To">
                    </div>
                    <button class="btn btn-primary" ng-click="vm.updateData()" type="submit">Update</button>
                </div>

            </div>
        </form>
    </div>
    <!-- END Header with filter -->

    <!-- Table -->
    <div class="block-content">
        <table class="table table-bordered" cg-busy="vm.isLoading">
            <thead>
                <tr>
                    <th colspan="2">Name</th>
                    <th>Violation #</th>
                    <th>Phone</th>
                    <th>Install Date</th>
                    <th>Last Activity Date</th>
                    <th>Last Violation Date</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat-start="user in vm.summaryReport">
                    <td style="width: 1px">
                        <button bootstrap-collapse-btn class="btn btn-link" data-toggle="collapse" data-target=".main-{{vm.summaryReport.indexOf(user)}}">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                    <td class="align-middle">{{user.FirstName}} {{user.LastName}}</td>
                    <td>{{user.DailyTripReport.length + user.Violations.length}}</td>
                    <td>{{user.PhoneNumber}}</td>
                    <td>{{user.InstallDate | date:'MM-dd-yyyy h:mma'}}</td>
                    <td>{{user.LastActivityDate | date:'MM-dd-yyyy h:mma'}}</td>
                    <td>{{user.LastActivityDate | date:'MM-dd-yyyy h:mma'}}</td>
                </tr>
                <tr id="collapseOne" class="collapse collapsed main-{{vm.summaryReport.indexOf(user)}}" ng-repeat-end>
                    <td></td>
                    <td colspan="6" class="panel-group">

                        <!-- Call violations -->
                        <div class="panel">
                            <div class="panel-heading">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#call-alerts-{{vm.summaryReport.indexOf(user)}}">
                                    Connection and Call Violations for {{user.FirstName}} {{user.LastName}}
                                </button>
                            </div>
                            <table id="call-alerts-{{vm.summaryReport.indexOf(user)}}" class="table table-bordered collapse collapsed">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Violation Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="call in user.Violations">
                                        <td>
                                            {{call.CreationDate | date:'MM-dd-yyyy'}}
                                        </td>
                                        <td>
                                            {{call.ViolationDescription}}
                                        </td>
                                    </tr>

                                    <tr ng-repeat="connection in user.connectionViolations">
                                        <td>
                                            {{connection.date | date:'MM-dd-yyyy'}}
                                        </td>
                                        <td>
                                            {{connection.description}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END Call violations -->
                        
                        <!-- Dayly Trip Report -->
                        <div class="panel">
                            <div class="panel-heading">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#report-alerts-{{vm.summaryReport.indexOf(user)}}">
                                    Dayly Trip Report for {{user.FirstName}} {{user.LastName}}
                                </button>
                            </div>
                            <table id="report-alerts-{{vm.summaryReport.indexOf(user)}}" class="table table-bordered collapse collapsed">
                                <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>Trip Start Time</th>
                                        <th>Trip End Time</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="trip in user.DailyTripReport">
                                    <tr>
                                        <td>
                                            {{trip.CreationDate | date:'MM-dd-yyyy'}}
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>

                                    <tr>
                                        <td class="summary-rowspan" rowspan="{{trip.Trips.length+1}}"></td>
                                    </tr>

                                    <tr ng-repeat="data in trip.Trips">
                                        <td>
                                            {{data.Start  | date:'h:mma'}}
                                        </td>

                                        <td>
                                            {{data.End | date:'h:mma'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END Dayly Trip Report -->
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- END Table -->

</div>

