[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    background-color: white !important;
}

.video-popup-faq {
    height: 400px;
    width: 100%;
    margin-top: 15px;
}

.help-popup-faq {
    margin-top: 15px;
    background: black;
    color: white;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}

/*Centralize menu in IFrame*/
.navbar-nav.is-iframe {
    width: 100%;
    text-align: center;
}

    .navbar-nav.is-iframe li {
        float: none;
        display: inline-block;
        color: #000000;
    }

/*Fix margins for iframe*/
.navbar.no-margin {
    margin-bottom: 0;
}

.navbar-iframe .navbar-nav > li > a {
    font-size: 16px;
    color: #343434;
    font-family: 'Maven Pro', sans-serif;
}

.navbar-iframe .navbar-nav > .active > a{
    background-color: #eee;
}

.drivealert.content-heading {
    margin-top: 0;
}

.drivealert.content-heading > .icon {
    margin-right: 25px;
    margin-left: 25px;
    vertical-align: middle;
}

/*Menu with active phone*/
.navbar .menu-select > select {
    background: none;
    border: 0;
}

.map-height {
    min-height: 40vw;
    height: 40vw;
}

/*Auto Reply input Settings page*/
textarea.form-control.auto-reply-text {
    height: 75px;
}

.logo-link{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.logo-link .logo-image{
    margin-left: 25px;
    height: 50px;
}
