[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    background-color: white !important;
}

.video-popup-faq {
    height: 400px;
    width: 100%;
    margin-top: 15px;
}

.help-popup-faq {
    margin-top: 15px;
    background: black;
    color: white;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}

/*Centralize menu in IFrame*/
.navbar-nav.is-iframe {
    width: 100%;
    text-align: center;
}

    .navbar-nav.is-iframe li {
        float: none;
        display: inline-block;
        color: #000000;
    }

/*Fix margins for iframe*/
.navbar.no-margin {
    margin-bottom: 0;
}

.navbar-iframe .navbar-nav > li > a {
    font-size: 16px;
    color: #343434;
    font-family: 'Maven Pro', sans-serif;
}

.content-heading {
    margin-top: 0;
    text-align: center;
}
